@charset "UTF-8";

#wrap{
	width:1200px;
	margin:0 auto;
}

header{
	height:70px;
}

.main-manu{
	height:40px;
}

/*.contents{}css는 브라우저에서 가끔 적용안되는 경우가 있는데 이럴땐 '검사'를 누르고 새로고침 오른클릭하면 강력 새로고침해야한다*/
/*이러는 이유는 브라우저는 테이터를 최소화하기 위해 자주 변경되지 않는 정보를 안바꿔주는 성향이 있다 css같은건 잘 안고쳐져서 생기는 건데 이럴땐 강력 새로고침*/ 
	/*height:500px;이걸 지워줘야 테이블이 밑에 코피롸이트하고 겹치지가 않는다*/ 


footer{
	height:70px;
}